body {
    margin: 0;
    padding: 0;
}

header.sticky{
    position: sticky;
    top: 0;
    box-shadow: 0px 2px white;
}

.nav-bar {
    background-color: rgb(6, 6, 74);
    color: rgb(255, 255, 255);
}

.nav-inner-div{
    display: flex;
    padding: 25px;
}
.nav-brand {
    flex-grow: 2;
    font-size: 25px;
    /* float: left; */
}
.nav-content{
    text-align: right;
    flex-grow: 8;
    font-size: 18px;
    /* float: right; */
}
.nav-content > span{
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
}

#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease;
    position: fixed;
    z-index: -10;
    top: 0;
}

#particles-js {
    background: rgb(164, 2, 2);
    color: white;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
}
#main-content{
    position: relative;
    top: 1rem;
}

#home-page{
    display: flex;
    height: 28rem;
}
.home-page-section{
    flex-grow: 1;
    text-align: center;
    position: relative;
    top: 6rem;
}
.home-page-section p{
    margin: 0;
    line-height: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: rgb(219, 219, 239);
}
.home-page-section img{
    width: 20rem;
    border-radius: 3rem;
}
.text-section{
    margin-top: 4rem;
}
#about-me-section{
    display: flex;
}
#about-me{
    flex-grow: 1;
}

@media only screen and (max-width: 875px) {
  #home-page, #about-me-section {
    display: block;
  }
  #home-page{
    height: 40rem;
  }
  .home-page-section{
    padding: 3rem;
    top: 3rem;
  }
  .home-page-section img{
    width: 15rem;
    border-radius: 2rem;
  }
  .text-section{
    margin-top: 0;
  }
}

.nav-content a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.nav-content svg {
    transition: transform .2s;
}
.nav-content svg:hover {
    transform: scale(1.5);
}